#awsome {
	padding-top: 110px;
	background-color: #f6f5f3;
	.new-features {
		margin-bottom: 110px;
		h5 {
			text-transform: uppercase;
		}
		h2 {
			margin-top: 30px;
			margin-bottom: 50px;
		}
		p {
			color: #cecdcb;
		}
	}
}